.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.log
/config.status
/configure
/libfacts_db.la
libtool
*.lo
stamp-h1
/tests/check_skiplist
*.core
/tests/check_skiplist.log
/tests/check_skiplist.trs
/tests/test-suite.log
