.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/benchmark/benchmark_set
/benchmark/fixtures/
/build-aux/
/config.h
/config.log
/config.status
/configure
/libfacts_db.la
libtool
*.lo
stamp-h1
*.core
/tests/check_set
/tests/check_skiplist
/tests/fixtures/
/tests/*.log
/tests/*.trs
