.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/benchmark/benchmark_set
/benchmark/fixtures/
/build-aux/
/config.h
/config.log
/config.status
/configure
/libfacts_db.la
libtool
*.lo
stamp-h1
*.core
*.gcda
*.gcno
*.gcov
/tests/check_fact
/tests/check_facts
/tests/test_write_facts_empty
/tests/test_write_facts_one
/tests/test_write_facts_two
/tests/test_write_facts_ten
/tests/test_write_facts_escapes
/tests/test_write_facts_log_one
/tests/test_write_facts_log_two
/tests/test_write_facts_log_ten
/tests/test_write_facts_log_escapes
/tests/check_set
/tests/check_skiplist
/tests/check_spec
/tests/fixtures/
/tests/*.log
/tests/*.trs
